@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: *;
  exclude: ;
  prefix: ;
  logs: true;
}

/* Ensure base styles are included */
@layer base {
  html {
    @apply antialiased;
  }
}
